/*****
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*****/
/* 
@media (max-width:81.25em) {


} */

@media (max-width:75em) {

  .container {
    max-width: calc(1200 * var(--rem));
    padding: 0 calc(24 * var(--rem));
  }

  .hero__heading {
    font-size: calc(52 * var(--rem));
  }

  .heading-secondary {
    font-size: calc(36 * var(--rem));
  }

  .article__text {
    font-size: calc(16 * var(--rem));
    color: var(--Grayish-Blue);
  }

  .hero__imagebox {

    & .img-background {
      transform: translate(-15%, -60%);

    }

    & .app {
      transform: translate(25%, -13%);

    }
  }

}

@media (max-width:66em) {

  .section-hero {
    padding: calc(128 * var(--rem)) 0;

  }

  .grid-col-2 {

    gap: calc(48 * var(--rem));
  }

  .hero__imagebox {


    & .img-background {

      max-width: 70rem;
      max-height: 100rem;
      transform: translate(-13%, -57%);

    }

    & .app {
      max-width: 60rem;
      max-height: 50rem;
      transform: translate(22%, -10%);
    }

  }

  .footer__social-logos {
    gap: 0.8rem;
  }

}

@media (max-width:59em) {


  .cta-hide {
    display: none;
  }

  .nav-main {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--White);
    width: 90%;
    height: auto;
    transform: translate(100%, 25%);
    transition: all 0.3s ease-in;
    z-index: 1000;
    border-radius: 9px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
will-change: opacity,visibility;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;


    & .nav__link:link,
    .nav__link:visited {
      color: var(--Dark-Blue);
      font-weight: 500;
    }
  }

  .nav__list {

    flex-direction: column;
    gap: calc(16 * var(--rem));
    padding: calc(24 * var(--rem));

  }

  .open-nav .nav-main {
    transform: translate(-50%, 25%);
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }



  .menu-btn-nav {
    display: block;
    z-index: 9999;
  }

  .open-nav .menu-btn[name="menu"] {
    display: none;
  }

  .open-nav .menu-btn[name="close"] {
    display: block;
  }

 
  .grid-col-2 {
    grid-template-columns: 1fr;
    row-gap: calc(560 * var(--rem));
  }

  .hero__textbox {
    margin-top: calc(600 * var(--rem));
    text-align: center;
    margin-inline: auto;
    max-width: 35rem;
  }

  .hero__imagebox {
    grid-row: 1;
    position: absolute;

    inset: 0 0 30%;

    & .img-background {
      position: static;
      width: 100%;
      max-width: 100%;
      height: 20%;
      max-height: 50rem;
      transform: translate(0, 0);
    }

    & .app {
      top: 0;
      left: 50%;
      width: 100%;
      max-width: 85%;
      max-height: 70rem;
      transform: translate(-50%, -30%);
    }

  }

  .grid-col-5 {
    grid-template-columns: repeat(3, 1fr);
    column-gap: calc(20 * var(--rem));
    row-gap: calc(48 * var(--rem));

    & .footer__proof {
      grid-column: 1/-1;
      justify-self: center;
      gap: calc(16 * var(--rem));
    }
  }

  .grid-col-4 {
    grid-template-columns: repeat(3, 1fr);
    gap: calc(16 * var(--rem));
  }


}

@media (max-width:50em) {

  .hero__imagebox {
    & .app {
      max-width: 100%;
    }
  }

  .grid-col-4 {
    grid-template-columns: repeat(2, 1fr);
    gap: calc(28 * var(--rem));
  }

}

@media (max-width:50em) {

  .hero__imagebox {

    & .img-background {
      max-height: 100rem;
      transform: translate(0, -10%);
    }

  }
}

@media (max-width:38em) {

  :is(.section-hero, .section-about, .section-article) {
    padding: calc(80 * var(--rem)) 0;
  }

  .hero__textbox {
    margin-top: calc(450 * var(--rem));
  }
}

@media (max-width:30em) {

  .heading-secondary {
    text-align: center;
  }

  .hero__textbox {
    margin-top: calc(300 * var(--rem));

    & .hero__heading {
      font-size: calc(40 * var(--rem));
    }

    & .hero__description {
      font-size: calc(18 * var(--rem));
    }

  }

  .about__header {
    text-align: center;

    & p {
      font-size: calc(16 * var(--rem));
    }
  }

  .grid-col-4 {
    grid-template-columns: 1fr;
    gap: calc(28 * var(--rem));

    &>:where(div) {

      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;

    }

  }

  .grid-col-5 {
    grid-template-columns: 1fr;
    row-gap: calc(12 * var(--rem));

    &>* {
      text-align: center;
    }

    .footer__logos {

      align-items: center;
      gap: 2.5rem;
      margin-bottom: 2rem;

      & .logo {
        transform: scale(1.6);
      }

      & .footer__social-logos {
        gap: 2rem;

        & .icon {
          transform: scale(1.5);

        }
      }


    }

    & .footer-link:link,
    .footer-link:visited {
      text-decoration: none;
      color: var(--Light-Grayish-Blue);
      font-size: calc(18 * var(--rem));
      font-weight: 600;
    }

    & .footer__nav {
      padding: 0;
    }
  }


  .footer__proof {
    grid-column: 1;
    margin-top: 2rem;
    gap: calc(16 * var(--rem));
  }
}

@media (max-width:23em) {
  .hero__textbox {
    margin-top: calc(220 * var(--rem));
  }
}