/*****
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 / 160

*****/

:root {
    --rem: calc(1rem / 16);

    /**** Colors ****/

    /* Primary */

    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);

    /* Neutral */

    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}



/**************************/
/* HEADER */
/**************************/
.header {
    background-color: var(--White);
    height: calc(96 * var(--rem));
    position: relative;

    display: flex;
    align-items: center;
    z-index: 10;


    & .header-nav {

        width: 100%;
        height: 100%;



        display: flex;
        align-items: center;

        & div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
        }
    }
}

/* sticky header */

.sticky .header {
    position: fixed;
    width: 100%;
    top: 0;
    height: calc(80 * var(--rem));
    padding: 0 auto;
    background-color: var(--White);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}

.sticky .section-hero {
    margin-top: calc(96 * var(--rem));
}


.header-nav .logo {
    color: var(--Dark-Blue);
    transform: scale(1.2);

}

.nav__list {
    display: flex;
    align-items: center;
    gap: calc(32 * var(--rem));
}

.nav__link:link,
.nav__link:visited {
    font-size: calc(20 * var(--rem));
    text-decoration: none;
    color: var(--Grayish-Blue);
    position: relative;
}


.nav__link::before {
    content: '';
    width: 0%;
    height: 5px;
    background-image: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
    margin: auto;
    transition: all 0.3s;
    pointer-events: none;
    position: absolute;
    left: 0;
    bottom: calc(-29 * var(--rem));
}

.nav__link:hover,
.nav__link:hover::before {
    width: 100%;
    color: var(--Dark-Blue);
}

/* mobile navigation */

.menu-btn-nav {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.menu-btn {
    width: calc(44 * var(--rem));
    height: calc(44 * var(--rem));
    color: #333;
}

.menu-btn[name="close"] {
    display: none;
}

/* An overlay to the body when the menubar is active */

body::after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    visibility: hidden;
    will-change: opacity, visibility;
    overflow: hidden;
}
body.overlay::after {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

/* Add no scroll to the body when the nav is on */

html:has(body.overlay) {
    overflow: hidden !important;
}


/**************************/
/* SECTION HERO*/
/**************************/

.section-hero {
    padding: calc(160 * var(--rem)) 0;
    background-color: var(--Very-Light-Gray);
    position: relative;
}

.hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
}

.hero__heading {
    font-size: calc(62 * var(--rem));
    line-height: 1.2;
    color: var(--Dark-Blue);
    font-weight: 400;
}

.hero__description {
    font-size: calc(20 * var(--rem));
    color: var(--Grayish-Blue);
    margin-top: calc(32 * var(--rem));
    margin-bottom: calc(48 * var(--rem));
}

.hero__imagebox {

    & .img-background {
        position: absolute;
        transform: translate(-13%, -57%);
        z-index: 2;

    }

    & .app {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(21%, -13%);
        z-index: 3;
    }

}

/**************************/
/* SECTION ABOUT*/
/**************************/

.section-about {
    padding: calc(96 * var(--rem)) 0;
    background-color: var(--Light-Grayish-Blue);
    position: relative;
    z-index: 2;
}

.about__header {
    max-width: 48rem;
}

.about__description {
    font-size: calc(20 * var(--rem));
    color: var(--Grayish-Blue);
    margin-top: calc(32 * var(--rem));
    margin-bottom: calc(80 * var(--rem));
}

.about__icon {
    width: calc(74 * var(--rem));
    height: calc(74 * var(--rem));
}

.about__text {
    font-size: calc(18 * var(--rem));
    color: var(--Grayish-Blue);
}

/**************************/
/* SECTION ARTICLE*/
/**************************/

.section-article {
    padding: calc(96 * var(--rem)) 0;
    background-color: var(--Very-Light-Gray);
}
.section-article article {
    background-color: var(--White);
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
}

.section-article article img {
    width: 100%;
    height: 13rem;
    object-fit: cover;
}

.article__textbox {
    padding: 1.3rem;
}

.article__author-name {
    font-size: calc(12 * var(--rem));
    color: var(--Grayish-Blue);
    font-weight: 500;
    margin-bottom: calc(12 * var(--rem));
}

.article__heading {
    color: var(--Dark-Blue);
    font-weight: 500;
    font-size: calc(20 * var(--rem));
    margin-bottom: calc(12 * var(--rem));
    cursor: pointer;
}

.article__heading:hover {
    background-image: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.article__text {
    font-size: calc(14 * var(--rem));
    color: var(--Grayish-Blue);
}

/**************************/
/* FOOTER */
/**************************/

.footer {
    padding: calc(64 * var(--rem)) 0;
    background-color: var(--Dark-Blue);
}

.footer__logos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__logo .logo {
    color: var(--White);
    transform: scale(1.2);
    text-align: center;
}

.footer__social-logos {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1.2rem;
}

.footer__social-logos .icon {
    width: calc(21 * var(--rem));
    height: calc(20 * var(--rem));
    color: var(--White);
}

.footer__social-logos .icon:hover,
.footer__social-logos .icon:active {
    color: var(--Bright-Cyan);
}

.footer__nav {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    color: var(--Light-Grayish-Blue);
    font-size: calc(14 * var(--rem));
    font-weight: 600;
}

.footer-link:hover,
.footer-link:active {
    background-image: linear-gradient(var(--Lime-Green), var(--Bright-Cyan));
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.footer__proof {
    grid-column: 4/-1;
    justify-self: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & a {
        text-align: center;
        padding: calc(12 * var(--rem)) calc(18 * var(--rem));
    }
}

.footer__company-right {
    font-size: calc(16 * var(--rem));
    color: var(--Grayish-Blue);
    font-weight: 500;
    justify-self: end;
}

footer *:focus {
    outline: none;

    box-shadow: 0 0 0 0.2rem var(--Bright-Cyan);
    transition: all 0.3s;
    border-radius: 2px;
}